/* Replace by your home directory*/
@import "/home/vitorlu/.cache/hellwal/waybar-colors.css";

* {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 17px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}

#waybar {
    color: @color15;
    background: transparent;
}

.modules-left, .modules-center, .modules-right {
  padding: 8px;
  margin: 3px;
  background-color: @background;
  border-radius: 100px;
}

#workspaces button {
    color: @color15;
    padding: 1 0.7em;
    margin: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: @color1;
}

#workspaces button.active {
    background-color: @color5;
}

#workspaces button.empty {
    color: @color8;
}

#clock, #temperature, #memory, #wireplumber {
    color: @foreground;
}

#wireplumber.muted {
    color: @color8;
}

#temperature.critical {
    color: @color1;
}

#tray {
    color: @foreground;
    padding-right: 1em;
    padding-left: 0.5em;
}

#custom-separator {
    color: @color8;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

#custom-power, #custom-restart, #custom-logout {
    color: @foreground;
    padding: 0 5px;
    min-width: 25px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#custom-power:hover, #custom-restart:hover, #custom-logout:hover {
    background-color: @color3;  /* accent color przy hover */
    color: @background;
}